body{
    background-color:#cc99ff;
}

#navbar{
    background-color:#8c1aff;
    height:120px;
}

.jumbotron{
    height:75px;
    background-color:#cc99ff;
}

#navbarTitle{
    font-size:2.0em;
    color:white;

}

#homeNav{
    font-size:1.0em;

}

#servicesNav{
    font-size:1.0em;

}

nav li{
    background-color:white;
}

.card{
    top:40px;
}

#candles{
    display:20%;
}